apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: auth
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongo
        image: mongo